<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.footballamericain.hd"
        version   = "1.1.0">
    <name>Football Americain HD</name>

    <description>
        Retrouvez votre site d'actualité préféré sur le Football Américain dans sa version tablet. Au programme : actualité NFL, FFFA et Elite, scores, classements et franchises NFL. Le meilleur du Football Américain en français..
    </description>

    <author href="http://www.footballamericain.com" email="lionel.laske@gmail.com">
        Lionel Laské pour FootballAmericain.com
    </author>

	<access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="http://*/*" />
	
	<preference name="android-minSdkVersion" value="13" />	
	
    <icon src="icon.png" />
	<platform name="android">
		<icon gap:density="ldpi" src="images/facom36x36.png" />
		<icon gap:density="mdpi" src="images/facom48x48.png" />
		<icon gap:density="hdpi" src="images/facom72x72.png" />
		<icon gap:density="xhdpi" src="images/facom96x96.png" />	
		<icon gap:density="xxhdpi" src="images/facom144x144.png" />	
		<icon gap:density="xxxhdpi" src="images/facom192x192.png" />
	</platform>
	<icon src="images/facom64x64.png" gap:platform="webos" />	
	<icon src="images/facom72x72.png" gap:platform="webos" />
	<icon src="images/facom57x57.png" gap:platform="ios" width="57" height="57" />
    <icon src="images/facom72x72.png" gap:platform="ios" width="72" height="72" />	
</widget>