<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.footballamericain.hd"
        version   = "1.0.0">
    <name>Football Americain HD</name>

    <description>
        Retrouvez votre site d'actualité préféré sur le Football Américain dans sa version tablet. Au programme : actualité NFL, FFFA et Elite, scores, classements et franchises NFL. Le meilleur du Football Américain en français..
    </description>

    <author href="http://www.footballamericain.com" email="lionel.laske@gmail.com">
        Lionel Laské pour FootballAmericain.com
    </author>

	<preference name="permissions" value="none"/>
	
	<preference name="android-minSdkVersion" value="13" />	
	
    <icon src="images/facom57x57.png" />
	<icon src="images/facom64x64.png" gap:platform="webos" />	
	<icon src="images/facom72x72.png" gap:platform="webos" />	
	<icon src="images/facom48x48.png" gap:platform="android" gap:density="mdpi" />	
	<icon src="images/facom72x72.png" gap:platform="android" gap:density="hdpi" />	
	<icon src="images/facom57x57.png" gap:platform="ios" width="57" height="57" />
    <icon src="images/facom72x72.png" gap:platform="ios" width="72" height="72" />	
</widget>